@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-family: Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.orange_grad {
  background: var(--grad1, linear-gradient(90deg, #F59E0B 39.95%, #EF4444 77.15%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.purple_grad{
  background: var(--grad2, linear-gradient(90deg, #5B21B6 0%, #9D174D 43.9%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image:
    radial-gradient(at 0% 0%, #FF7BCA 10px, transparent 50%),
    radial-gradient(at 0% 0%, #F22FB0 5px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.7;
}

.gradient-dark{
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image:
    radial-gradient(at 0% 0%, rgba(0, 194, 255, 0.00) 0%, #FF29C3 100%,transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px);
  top: 80px;
  opacity: 0.7;
}